// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-border: #4e6baf;
  --color-tmp: #fff;
  --color-primary: #1976d2;
  --color-secondary: rgb(17, 82, 147);
}
