// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-border: #4e6baf;
  --color-tmp: #fff;
  --color-primary: #1976d2;
  --color-secondary: rgb(17, 82, 147);
  --button-default-bg: #e0e1e2;
  --button-default-bg-hover: #d5d7d8;
  --button-default-bg-active: #cecfd1;
  --button-default-color: rgba(33,37,41,.8);
  --button-white-bg: #fff;
  --button-white-hover: #fafafa;
  --button-white-color: #212529;
  --button-white-border: hsla(240,5%,48%,.05);
  --button-primary-bg: #ffa332;
  --button-primary-bg-hover: #ff8c00;
  --button-primary-bg-active: #f28500;
  --button-primary-color: #fff;
  --blue: #007feb;
  --green: #3cce7b;
  --purple: #6f42c1;
  --border-base: #e5e5e5;
  --border-light: #e9e9e9;
  --border-opacity: rgba(60,60,67,.29);
  --text-primary: #212529;
  --text-primary-inverse: #fff;
  --text-secondary: #818181;
  --text-muted: #868e96;
  --text-link: #f77519;
  --link-border-color: rgba(0,0,0,.16);
  --text-2: rgba(60,60,67,.6);
  --background: #f2f2f3;
  --background-dark: #444;
  --background-hover: hsla(240,5%,48%,.05);
  --background-header: #e48f13;
  --background-highlight: #fbfbfc;
  --background-fill-1: hsla(240,3%,49%,.2);
  --background-fill-2: hsla(240,3%,49%,.16);
  --background-fill-3: hsla(240,4%,48%,.12);
  --background-fill-4: hsla(240,5%,48%,.05);
  --background-elevated-1: #fff;
  --background-elevated-2: #fff;
  --background-elevated-3: #fff;
  --foreground: #fff;
  --foreground-darken: hsla(240,5%,48%,.05);
  --input-border: #dcdcdc;
  --input-border-focus: #c0c4cc;
  --input-bg: #fff;
  --dropdown-bg: #fff;
  --tag-bg: #e7edf3;
  --tag-bg-light: rgba(0,0,0,.05);
  --tag-bg-light-hover: rgba(0,0,0,.12);
  --tag-border: #e8eaec;
  --tag-color: #6b6b6b;
  --tag-bg-alt: #f7f9fb;
  --scrollbar-track: #f3f3f3;
  --scrollbar-thumb: #c1c1c1;
  --comment-highlight: #ecf6ff;
  --shadow-default: hsla(0,0%,76%,.17);
  --radio-group-bg-active: #fff;
}