.catalog {
  &-grid {
    width: 80%;
    display: grid;
    row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, minmax(50px, 180px));
    grid-template-rows: 250px;
  }
  display: flex;
  &-filters {
    width: 20%;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  &-filter {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
    & .mycustom {
      height: 100px;
      margin-bottom: 10px;
    }
  }
}
