.card {
  width: 180px;
  height: 250px;
  border-radius: 8px;
  transition: opacity 0.5s ease;
  overflow: hidden;
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 250px;
    display: block;
    border-radius: 8px;
    background-color: black;
    opacity: 0;
    &-name {
      color: white;
      font-size: 23px;
      text-align: center;
      opacity: 1;
    }
    &-content {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      &--setting {
        height: max-content;
        p {
          color: white;
        }
      }
    }
  }

  &-image {
    width: 100%;
    height: inherit;
    display: block;
    position: relative;
    overflow: hidden;

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      transition: transform 0.5s ease-in-out;
    }
    @include desktop(){
      &:hover img {
        transform: scale(1.1);
        border-radius: 8px;
      }
      &:hover > .card-bg {
        opacity: 0.6;
      }
    }
  }
}
.films {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
  &-list {
    width: inherit;
    padding:0 15px;
    margin-bottom: 15px;
  }
  &-item {
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    width: inherit;
    position:relative;
    & .close{
    position: absolute;
      right: 10px;
      top:10px
    }
    &:not(:first-child) {
      margin-top: 20px;
    }
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    &-content {
      margin-top: 20px;
      display: flex;
      @include mobile(){
        flex-direction: column;
        & .card{
          margin-right: 0;
          margin-bottom: 10px;
        }
        & .card-image img{
          width: initial;
        }
      }
      &__setting {
        &:not(:first-child) {
          margin-top: 10px;
        }
        &-year {
          font-weight: normal;
          line-height: 18px;
          font-size: 14px;
        }
        font-weight: 700;
        margin-right: 3px;
      }
      &__settings {
        height: 100%;
        width: 75%;
      }
      & .card {
        margin-right: 30px;
      }
    }
    &--title > a {
      font-size: 18px;
      font-weight: 700;
      color: inherit;
      &:hover {
        text-decoration: underline;
        color: var(--color-secondary);
      }
    }
  }
}
