//
body {
  max-width: 1340px;
  margin: 0 auto;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-family: -apple-system, Nunito Sans, SF Pro Text, SF Pro Icons, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  line-height: 1.43;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
a {
  display: block;
}
#header {
  height: 74px;
  padding: 8px 0;
}
nav {
  height: 100%;
}
.header {
  max-width: 1340px;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: nowrap;
  box-shadow: 0 2px 17px rgba(0, 0, 0, 0.4);
  height: 61px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 0 20px;
  @include tablet(){
    position: initial;
    .header-second-user--active{

    }
  }
  &-navigation {
    height: 100%;
    display: flex;
    width: 60%;
    align-items: center;
  }
  &-svg {
    display: block;
    @include headerBtn(44px, 44px);
    padding: 10px;
    color: inherit;
  }
  &-nav {
    &--list {
      display: flex;
      align-items: center;
      height: 100%;
      width: max-content;
    }
    &--item {
      transition: all 0.2s ease-in-out;
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      padding: 0 4px;
      &:not(:first-child) {
        margin-left: 10px;
      }
      &__link {
        color: inherit;
      }
      &:hover {
        @include hover();
      }
    }
  }
  &-logo {
    margin-right: 10px;
    padding: 10px;
  }
  &-second {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    &--search {
    }
    &-theme {
      background: none;
      @include headerBtn(44px, 44px);
      padding: 10px;
      border-radius: 6px;
      transition: all 0.2s ease;
      &:hover {
        @include hover();
      }
    }
    &-user {
      @include headerBtn(44px, 44px);
      &--login {
        background: none;
        padding: 0 5px;
        width: inherit;
        height: inherit;
        border-radius: 6px;
        &:hover {
          @include hover();
        }
      }
      &--active {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include desktop(){
          &:hover .header-second-user--active-login--list {
            display: flex;
          }
        }
        @include tablet(){
          width: auto;
        }
        &-login {
          width: 50%;
          color: currentColor;
          position: relative;
          @include tablet(){
            width: 100%;
          }
          &--item {
            margin-top: 10px;

            &:hover {
              background-color: #e1e1e1;
              border-radius: 6px;
            }
          }
          &--list {
            width: 200px;
            background-color: white;
            position: absolute;
            top: 40px;
            right: 0;
            display: none;
            flex-direction: column;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            @include tablet(){
                width: 200px;
                background-color: white;
                position: absolute;
                top: 229px;
                right: 0;
                display: none;
                flex-direction: column;
                padding-bottom: 20px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                z-index: 100;
            }
          }
        }
      }
    }
  }
}
.swiper {
  width: 1000px;
  height: 300px;
  @include tablet(){
    width: auto;
  }
  &-slide {
    width: 180px;
  }
}

.header-second-user--active-login--list--burger{
  display: flex;
}
.mobile-link {
  display: none;
}
.header-second-user--active-login--list--burger{
  & .mobile-link{
    display: block;
  }
}